@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
@font-face {
	font-family: 'ProximaNova Light';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/ProximaNovaAltLight.otf') format('OpenType');
}

@font-face {
	font-family: 'ProximaNova Alt Thin';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/ProximaNovaAltThin.otf') format('OpenType');
}

@font-face {
	font-family: 'ProximaNova Thin';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/ProximaNovaThin.otf') format('OpenType');
}

@font-face {
	font-family: 'ProximaNova Regular';
	font-weight: 400;
	src: url('../fonts/ProximaNovaRegular.otf') format('OpenType');
}

@font-face {
	font-family: 'ProximaNova Black';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/ProximaNovaBlack.otf') format('OpenType')
}

@font-face {
	font-family: 'ProximaNova Bold';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/ProximaNovaBold.otf') format('OpenType')
}

@font-face {
	font-family: 'ProximaNova Extra Bold';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/ProximaNovaExtrabold.otf') format('OpenType')
}

body {
	font-family: 'ProximaNova Regular';
	font-size: 18px;
	letter-spacing: 0.02em;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
}

section {
	position: relative;
}

a {
	text-decoration: none;
}

header a {
	color: #000;
}

a:hover {
	color: #ffe715;
}

section {
	position: relative;
}

a:hover {
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

p {
	line-height: 30px;
}

:focus {
	outline: -webkit-focus-ring-color auto 0px;
}

button:focus {
	outline: 1px dotted;
	outline: 0px auto -webkit-focus-ring-color;
}

.text_white {
	color: #fff;
}

ul {
	padding: 0px;
	position: relative;
	list-style: none;
}

.bg_yellow {
	background: #FFE715;
}

.bg_dark {
	background: #101920;
}

.bar1, .bar2, .bar3 {
	width: 25px;
	height: 2px;
	background-color: #000;
	margin: 5px 0;
	transition: 0.4s;
}

.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-5px, 5px);
	transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-5px, -5px);
	transform: rotate(45deg) translate(-5px, -5px);
}

.bg_light_gray {
	background: #f9f9f9;
}

a.cta_btn {
	background: #FFE715;
	color: #000;
	padding: 18px 32px;
	border-radius: 50px;
	font-size: 16px;
	letter-spacing: 0.05em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-family: 'ProximaNova Extra Bold';
	position: relative;
}

a.cta_btn.cta_big {
	font-size: 20px;
}

a.cta_btn.cta_big.cta_black svg {
	fill: #fff;
}

a.cta_btn.cta_big.cta_black {
	background: #000;
	color: #fff;
}

/**/

.navbar-expand-lg .navbar-nav a {
	padding: 8px 20px !important;
	font-size: 16px;
	position: relative;
	transition: all .1s ease;
}

.navbar-nav li.active a {
	color: #000;
	font-family: 'ProximaNova Extra Bold';
}

.navbar-nav li a:hover, .navbar-nav li a:focus {
	font-weight: 600;
	color: #000;
	transition: all .1s ease;
}

.navbar-nav li a:before {
	content: '';
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	border-radius: 30px 30px 30px 30px;
	border: 3px solid;
	border-color: #24b6c1 transparent transparent;
	opacity: 0;
	transition: all 0.3s ease;
}

.navbar-nav li a:after {
	content: '';
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
	border-radius: 30px 30px 30px 30px;
	border: 3px solid;
	border-color: transparent transparent #24b6c1;
	opacity: 0;
	transition: all 0.3s ease;
}

.navbar-nav li.active a:after, .navbar-nav li.active a:before, .navbar-nav li a:hover::before, .navbar-nav li a:hover:after {
	opacity: 1;
	top: 50%;
	transition: all 0.3s ease;
}

.cart_part a svg {
	width: 30px;
	height: auto;
}

.cart_part a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cart_part a span {
	position: relative;
	top: -10px;
	right: -5px;
}

.cart_part a:hover svg {
	fill: #24b6c1;
}

.cart_part a:hover {
	color: #24b6c1;
}

.cart_part {
	display: flex;
	padding: 0px 10px;
}

/* .navbar-nav li a.wpmenucart-contents:after{
	content: none;
}

.navbar-nav li a.wpmenucart-contents:before {
	content: '';
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 80%;
	border: 0px solid;
	border-radius: 0px;
	transform: translate(-50%, -50%);
	opacity: 1;
	transition: all 0.3s ease;
	background-image: url(https://clientapp.brandmydream.com/deo/wp-content/themes/deodorant/images/cart.png);
	background-position: center;
} */

.main_menu {
	padding: 30px 0px;
	background: #fff;
	/* transform: translate(0, -0px);
	transition: all 0.3s ease; */
}

.main_menu.in-view {
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	transform: translate(0, -200px);
}

.main_menu.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	box-shadow: 0px 0px 20px 0px #00000075;
	transform: translate(0, -0px);
	transition: all 1s ease;
}

.search-open {
	overflow: hidden;
}

.search-box .close {
	position: absolute;
	top: 2rem;
	right: 2rem;
	background: none;
	border: 0;
	font-size: 1rem;
	font-weight: 700;
	display: block;
	cursor: pointer;
	color: black;
	padding: 12px 20px;
	background: white;
	border-radius: 50%;
	outline: none;
}

.search-box .close:hover {
	background: #000;
	color: #fff;
}

.search-box.search-elem {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: #1a8992d1;
	transition: all 0.3s ease-in-out;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.search-box.search-elem .inner {
	width: 26%;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.search-box.search-elem label {
	color: white;
	font-weight: 300;
}

.search-box.search-elem button.submit {
	outline: none;
	position: absolute;
	top: 0;
	right: 15px;
	height: 72px;
	padding: 10px 2rem;
	background: #ffeb3b;
	border: 1px solid #ffeb3b;
	font-size: 1rem;
	color: #000;
}

.search-box.search-elem button.submit[disabled] {
	background: #ccc;
	color: #32213A;
	border: 0px solid #ffeb3b;
}

.search-box.search-elem input[type=text] {
	padding: 15px 60px 15px 15px;
	height: 72px;
	font-size: 24px;
	font-weight: 300;
	border: none;
	border-bottom: solid 0px #999;
	transition: border 0.3s;
	border-radius: 0;
}

.search-box .speech, .search_form_page .speech {
	position: relative;
}

.search-box .speech #start_img, .search_form_page .speech #start_img2 {
	position: absolute;
	right: 10px;
	top: 50%;
	max-width: 38px;
	transform: translate(0%, -50%);
}

.search-box.search-elem input[type=text]:focus {
	border-bottom: solid 0px #00A896;
	box-shadow: none;
}

.search_form_page input[type=text] {
	padding: 15px 60px 15px 15px;
	height: 72px;
	font-size: 24px;
	font-weight: 300;
	border: none;
	border: solid 1px #999;
	transition: border 0.3s;
	border-radius: 0;
}

.search-box.search-elem label.placeholder {
	position: absolute;
	top: 10px;
	left: 2rem;
	font-size: 32px;
	font-weight: 300;
	color: #999;
	transition: all 0.3s;
}

.search-box.search-elem label.placeholder.move-up {
	top: -25px;
	color: white;
	font-size: 1rem;
}

.search-box.search-elem.search-open {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.search-btn {
	margin-left: 20px;
}

.search-btn:hover {
	color: #00A896;
}

/*Slider*/

.main_slider .item {
	/* height: 100vh; */
	position: relative;
}

.main_slider .item img {
	width: 100%;
	object-fit: cover;
}

.main_slider .item .play_btn img {
	width: auto;
}

.main_slider .item .cover {
	padding: 75px 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* background: rgba(0, 0, 0, 0.6); */
	display: flex;
	align-items: center;
}

.main_slider .item .cover .header-content {
	position: relative;
	padding: 30px 0px;
	overflow: hidden;
}

.main_slider .item .cover .header-content .line {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	border: 9px solid #fff;
	-webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
	clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}

.main_slider .item .cover .header-content h2 {
	font-size: 60px;
	color: #fff;
	font-family: 'ProximaNova Extra Bold'
}

.main_slider .item .cover .header-content h1 {
	font-size: 56px;
	margin: 5px 0 20px;
	word-spacing: 3px;
	color: #fff;
}

.main_slider .item .cover .header-content h4 {
	font-size: 20px;
	line-height: 60px;
	color: #fff;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
	text-align: center;
	-webkit-tap-highlight-color: transparent
}

.owl-theme .owl-nav {
	margin-top: 10px
}

.owl-theme .owl-nav [class*=owl-] {
	color: #FFF;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
	background: #D6D6D6;
	display: inline-block;
	cursor: pointer;
	border-radius: 3px
}

.owl-theme .owl-nav [class*=owl-]:hover {
	background: #869791;
	color: #FFF;
	text-decoration: none
}

.owl-theme .owl-nav .disabled {
	opacity: .5;
	cursor: default
}

.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 10px
}

.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1
}

.owl-theme .owl-dots .owl-dot span {
	width: 35px;
	height: 10px;
	margin: 10px 10px;
	background: #555455;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 0px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #24b6c1;
}

.play_pause_icon {
	border: 0;
	background: transparent;
	box-sizing: border-box;
	width: 0;
	height: 20px;
	border-color: transparent transparent transparent #fff;
	transition: 100ms all ease;
	cursor: pointer;
	border-style: solid;
	border-width: 12px 0 12px 20px;
}

.play_pause_icon.paused {
	border-style: double;
	border-width: 0px 0 0px 18px;
}

.play_pause_btn {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background: #52505100;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0px solid #fff;
	cursor: pointer;
}

.main_slider .owl-item.active h1 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInDown;
	animation-delay: 0.3s;
}

.main_slider .owl-item.active h2 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInDown;
	animation-delay: 0.3s;
}

.main_slider .owl-item.active h4 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInUp;
	animation-delay: 0.3s;
}

.main_slider .owl-item.active .line {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInLeft;
	animation-delay: 0.3s;
}

.main_slider .owl-item.active a {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInUp;
	animation-delay: 0.3s;
}

.main_slider .owl-nav .owl-prev, .main_slider .owl-nav .owl-next {
	position: absolute;
	background: transparent !important;
	width: 40px;
	cursor: pointer;
	height: 40px;
	display: block;
	z-index: 1000;
	border-radius: 0;
	right: 16%;
	bottom: 55px;
}

.main_slider .owl-nav .owl-prev {
	right: 18%;
}

.main_slider .owl-nav .owl-prev span {
	font-size: 1.6875rem;
	color: #fff;
}

.main_slider .owl-nav .owl-prev:focus {
	outline: 0;
}

.main_slider .owl-nav .owl-prev:hover {
	background: transparent !important;
}

.main_slider .owl-nav .owl-next span {
	font-size: 1.6875rem;
	color: #fff;
}

.main_slider .owl-nav .owl-next:focus {
	outline: 0;
}

.main_slider .owl-nav .owl-next:hover {
	background: transparent !important;
}

div#banner_slider .owl-dots {
	position: absolute;
	right: 15px;
	bottom: 30px;
	transform: translate(-50%, -50%);
	z-index: 9;
	display: flex;
}

div#banner_slider .owl-dots .owl-dot button {
	border: 0;
	background: transparent;
	color: #fff;
	font-size: 22px;
	margin: 0px 15px;
	line-height: 32px;
}

div#banner_slider .owl-dots .owl-dot.active button {
	border-bottom: 1px solid #fff;
}

/************************/

.home_sec2 {
	padding: 100px 0px 100px;
	overflow: hidden;
	background: #f1f1f1;
}

.diodorent-1 {
	position: relative;
}

.diodorent-upper {
	position: absolute;
	top: 150px;
	left: 160px;
}

.welcome h1 {
	display: none;
	color: #000;
	font-size: 59px;
}

.welcome {
	display: block;
	text-align: -webkit-center;
}

.welcome h2 {
	font-size: 80px;
	color: #2b47a4;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-top: 0px;
	font-weight: 700;
	font-family: 'Audiowide', cursive;
}

.look_great h5 {
	font-family: 'Audiowide', cursive;
	font-size: 25px;
	color: #000;
	font-style: italic;
}

a.checkout-button {
	background-color: #333 !important;
}

.welcome h2 span {
	color: #24b6c1;
}

a.lnk_mr {
	display: inline-block;
	position: relative;
	margin-top: 95px;
	padding: 1px 35px 0;
	line-height: 43px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 900;
	color: #333;
}

a.lnk_mr:hover:before, a.lnk_mr:hover:after {
	width: 100%;
	height: 100%;
	border-color: #e3c60a;
}

a.lnk_mr:before {
	left: 0;
	top: 0;
	border-top: 3px solid #0d60a7;
	border-left: 3px solid #0d60a7;
}

a.lnk_mr:before, a.lnk_mr:after {
	content: "";
	position: absolute;
	width: 70%;
	height: 65%;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

a.lnk_mr:hover {
	color: #45769f;
	text-decoration: none;
}

a.lnk_mr {
	display: inline-block;
	position: relative;
	margin-top: 50px;
	padding: 1px 35px 0;
	line-height: 43px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 900;
	color: #333;
	font-family: 'Audiowide', cursive;
}

a.lnk_mr:hover:before, .static_top .right_content a.lnk_mr:hover:after {
	width: 100%;
	height: 100%;
	border-color: #e3c60a;
}

a.lnk_mr:after {
	right: 0;
	bottom: 0;
	border-bottom: 3px solid #24b6c1;
	border-right: 3px solid #24b6c1;
}

a.lnk_mr:before, a.lnk_mr:after {
	content: "";
	position: absolute;
	width: 70%;
	height: 65%;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.left_content a.img2:before, .left_content a.img2:after {
	content: "";
	display: block;
	z-index: 3;
	width: 80%;
	height: 50%;
	position: absolute;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.left_content a.img2:hover:after {
	opacity: 0;
	bottom: 0;
	right: 0;
}

.left_content a.img2:hover:before {
	opacity: 0;
	top: 0;
	left: 0;
}

.left_content {
	position: relative;
	padding-bottom: 145px;
}

.left_content a {
	display: block;
}

.all_offers p:before {
	background-color: #666;
	content: "";
	display: inline-block;
	height: 2px;
	position: relative;
	vertical-align: middle;
	width: 14%;
	margin-right: 10px;
}

.all_offers p:after {
	background-color: #666;
	content: "";
	display: inline-block;
	height: 2px;
	position: relative;
	vertical-align: middle;
	width: 14%;
	margin-left: 10px;
}

.all_offers p {
	color: #000;
	font-weight: 700;
}

.section-5 {
	padding: 75px 0px 125px;
}

.left_content a img {
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	height: 390px;
}

.left_content a.img1:hover~a {
	-webkit-transition: all 500ms linear;
	transition: all 500ms linear;
	opacity: 0.1;
}

.left_content a.img2 {
	position: absolute;
	z-index: 2;
	top: 194px;
	right: 12px;
}

.left_content a {
	display: block;
}

.left_content a.img2:before, .left_content a.img2:after {
	content: "";
	display: block;
	z-index: 3;
	width: 80%;
	height: 50%;
	position: absolute;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.left_content a.img2:before {
	top: -30px;
	left: -30px;
	border-top: 9px solid #f76c81;
	border-left: 9px solid #f76c81;
}

.social {
	display: inline-flex;
}

.left_content a.img1:hover~a:before, .left_content a.img1:hover~a:after {
	opacity: 0;
}

.left_content a.img1:hover~a img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.left_content a.img1:hover~a:before, .left_content a.img1:hover~a:after {
	opacity: 0;
}

.left_content a.abcd:after {
	right: 24px !important;
}

.left_content a.abcd {
	position: absolute;
	left: 10px;
	top: 50px;
	width: 50%;
}

.left_content a.img2:after {
	bottom: -30px;
	right: -30px;
	border-bottom: 9px solid #2b47a4;
	border-right: 9px solid #2b47a4;
}

.left_content a.abcd:hover:after {
	opacity: 0;
	bottom: 0;
	right: 51px !important;
}

.left_content a.abcd:before, .left_content a.abcd:after {
	content: "";
	display: block;
	z-index: 3;
	width: 60%;
	height: 50%;
	position: absolute;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.left_content a.abcd:before {
	top: -30px;
	left: -30px;
	border-top: 9px solid #2b47a4;
	border-left: 9px solid #2b47a4;
}

.left_content a.abcd:after {
	bottom: -30px;
	right: -30px;
	border-bottom: 9px solid #f76c81;
	border-right: 9px solid #f76c81;
}

.carousel-inner {
	overflow: initial;
}

.navbar-brand img {
	position: absolute;
	top: -15px;
	left: 0px;
	z-index: 99;
}

.hover_img span:before, .hover_img span:after {
	content: "";
	display: block;
	z-index: 3;
	width: 60%;
	height: 50%;
	position: absolute;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}

.hover_img span:before {
	top: -30px;
	left: -30px;
	border-top: 9px solid #2b47a4;
	border-left: 9px solid #2b47a4;
}

.hover_img span:after {
	bottom: -30px;
	right: -30px;
	border-right: 9px solid #f76c81;
	border-bottom: 9px solid #f76c81;
}

.hover_img span.pink_blue:before {
	border-top-color: #f76c81;
	border-left-color: #f76c81;
}

.hover_img span.pink_blue:after {
	border-right-color: #2b47a4;
	border-bottom-color: #2b47a4;
}

.hover_img:hover span:before {
	top: 0px;
	left: 0px;
	opacity: 0;
}

.hover_img:hover span:after {
	right: 0px;
	bottom: 0px;
	opacity: 0;
}

a.for_male {
	padding: 15px 35px;
	border-radius: 5px;
	margin-right: 20px;
	background-color: #0d60a7;
}

a.for_female {
	padding: 15px 35px;
	border-radius: 5px;
	margin-right: 20px;
	background-color: #f76c81;
}

a.for_male i, a.for_female i {
	font-size: 30px;
	color: #fff;
	font-weight: 700;
	padding-right: 20px;
}

.page_link a img {
	max-width: 35px;
	margin: 0px 5px;
}

.main_footer {
	background: #000;
	padding-top: 30px;
}

.f_menu {
	padding-top: 30px;
	padding-bottom: 30px;
}

.contact li a {
	text-transform: none !important;
}

.f_menu ul li a:hover {
	text-decoration: none;
}

.After_footer {
	padding: 8px 0px;
	background: #24b6c1;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.After_footer p {
	color: #fff;
	margin: 0px;
	font-size: 14px;
}

.After_footer p a {
	color: #000;
	font-weight: 600;
	text-decoration: none;
}

.f_menu h2 {
	color: #fff;
	padding-bottom: 20px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
}

.f_menu ul li {
	list-style: none;
	color: #fff;
	padding-bottom: 15px;
}

.f_menu ul li a img {
	padding-right: 10px;
}

.f_menu ul li a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}

.f_menu ul {
	padding-left: 0px;
}

.page_banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	min-height: 350px;
}

.about_text h2 {
	font-size: 30px;
	font-weight: 600;
	background: #24b6c1;
	display: inline-flex;
	color: #fff;
	padding: 10px 30px;
}

.about_text ul li {
	padding: 5px 0px;
}

.about_text ul {
	list-style: disc;
	padding-left: 20px;
}

.about_text .border_bottom {
	list-style: disc;
	padding-left: 20px;
	border-top: 1px solid #24b6c1;
}

/*Woocommerce*/

ul.products {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

ul.products li {
	margin: 15px 15px;
	padding: 20px;
	border: 0px solid #ddd;
	text-align: center;
	box-shadow: 0px 15px 30px -10px #00000024;
	width: calc(33.333333% - 30px);
}

ul.products li a.woocommerce-LoopProduct-link {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a.woocommerce-LoopProduct-link {
	color: #000;
}

span.onsale {
	display: none;
}

h2.woocommerce-loop-product__title {
	font-size: 17px;
	font-weight: 600;
	text-align: center;
	line-height: 24px;
}

p.woocommerce-result-count, form.woocommerce-ordering {
	display: none;
}

.woocommerce-notices-wrapper {
	margin: 0px 0px 30px;
}

.category_product .woocommerce-notices-wrapper {
	margin: 0px 10px 30px;
}

.woocommerce-notices-wrapper .woocommerce-message {
	padding: 10px 15px;
	background: #24b6c1;
	color: #fff;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row-reverse;
}

.woocommerce-notices-wrapper .woocommerce-message a {
	border: 0px;
	background: #fff;
	color: #000;
	padding: 5px 15px;
	font-weight: 600;
	letter-spacing: 2px;
	background: linear-gradient(to right, #000 50%, #fff 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .3s ease-out;
}

.woocommerce-notices-wrapper .woocommerce-message a:hover {
	background-position: left bottom;
	color: #fff;
}

ul.products li a.add_to_cart_button {
	border: 0px;
	display: inline-flex;
	margin-top: 15px;
	background: #fff;
	color: #fff;
	padding: 8px 25px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 2px;
	background: linear-gradient(to right, #000 50%, #24b6c1 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .3s ease-out;
}

ul.products li a.add_to_cart_button:hover {
	background-position: left bottom;
	color: #fff;
}

ul.products li a.woocommerce-LoopProduct-link img {
	transition: all .3s ease-out;
}

ul.products li a.woocommerce-LoopProduct-link:hover img {
	transform: scale(1.1);
	transition: all .3s ease-out;
}

.single-product .product {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.single_product .woocommerce .images {
	opacity: 1 !important;
	width: 30%;
}

.summary.entry-summary {
	width: 70%;
	padding-left: 50px;
	display: flex;
	flex-direction: column-reverse;
}

.woocommerce-tabs, section.related.products {
	width: 100%;
	margin-top: 30px;
}

figure.woocommerce-product-gallery__wrapper {
	border: 1px solid #ddd;
}

figure.woocommerce-product-gallery__wrapper a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.single-product .product_meta {
	display: none;
}

.single-product form.cart .quantity label {
	font-size: 30px;
	margin-bottom: 30px;
	font-weight: 600;
}

.single-product form.cart {
	position: relative;
	margin-bottom: 30px;
}

.single-product form.cart .quantity input {
	padding: 5px 10px;
	border-radius: 0px;
	border: 1px solid #000;
	max-width: 70px;
}

button.single_add_to_cart_button {
	border: 0px;
	display: inline-flex;
	margin-top: 15px;
	font-size: 17px;
	background: #fff;
	color: #fff;
	padding: 7px 20px;
	font-weight: 600;
	letter-spacing: 2px;
	background: linear-gradient(to right, #24b6c1 50%, #000 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .3s ease-out;
}

button.single_add_to_cart_button:hover {
	background-position: left bottom;
	color: #fff;
}

.single-product button.single_add_to_cart_button {
	position: absolute;
	margin: 0px;
	bottom: 0;
	left: 80px;
}

.woocommerce-tabs ul.wc-tabs li {
	margin: 0px;
	display: flex;
}

.woocommerce-tabs ul.wc-tabs {
	background: #24b6c1;
	padding: 0px 0px;
	border: 0px;
	display: flex;
	box-shadow: 0px 5px 15px -5px #0000004f;
}

.woocommerce-tabs ul.wc-tabs li a {
	background: #116d74;
	padding: 6px 30px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}

.woocommerce-Tabs-panel h2 {
	font-size: 25px;
	font-weight: 600;
}

.woocommerce-Tabs-panel {
	padding-top: 15px;
}

section.related.products>h2 {
	background: #24b6c1;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	padding: 10px 10px;
	margin-bottom: 20px;
	box-shadow: 0px 5px 15px -5px #0000004f;
}

.shop_table>:not(caption)>*>* {
	border-width: 0 1px;
	padding: 10px;
	border-color: #24b6c1;
}

.shop_table>:not(caption)>* {
	border-width: 1px 0;
	border-color: #24b6c1;
}

table.shop_table a img {
	max-width: 60px;
	height: auto !important;
}

table.shop_table td.product-quantity .quantity label {
	margin-right: 15px;
	display: none;
}

table.shop_table td.product-quantity .quantity {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

td.product-quantity .quantity input {
	max-width: 70px;
	height: 40px;
	padding: 10px;
	border: 1px solid #000;
}

table.shop_table {
	font-size: 15px;
	width: 100%;
}

table.shop_table a {
	color: #000;
}

table.shop_table td.product-remove a {
	width: 25px;
	height: 25px;
	background: #000;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

table.shop_table td.product-remove a:hover {
	background: #24b6c1;
}

table.shop_table td.actions .coupon {
	display: flex;
	align-items: center;
}

table.shop_table td.actions .coupon button {
	border: 0px;
	background: #000;
	color: #fff;
	height: 35px;
	padding: 0px 15px;
	margin-left: 10px;
	letter-spacing: 2px;
	background: linear-gradient(to right, #24b6c1 50%, #000 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .3s ease-out;
}

table.shop_table td.actions .coupon button:hover {
	background-position: left bottom;
	color: #fff;
}

table.shop_table td.actions .coupon input {
	border: 1px solid #000;
	height: 35px;
	padding: 0px 10px;
}

table.shop_table td.actions .coupon label {
	margin-right: 10px;
}

table.shop_table td.actions {
	position: relative;
}

table.shop_table td.actions button[name="update_cart"] {
	position: absolute;
	right: 9px;
	top: 9px;
	border: 0px solid #000;
	background: #24b6c1;
	color: #fff;
	padding: 7px 15px;
	letter-spacing: 2px;
	background: linear-gradient(to right, #000 50%, #24b6c1 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .3s ease-out;
}

table.shop_table td.actions button[name="update_cart"]:hover {
	background-position: left bottom;
	color: #fff;
}

.cart-collaterals {
	margin-top: 50px;
}

.cart-collaterals .cart_totals h2 {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
	background: #24b6c1;
	color: #fff;
	padding: 10px;
}

.wc-proceed-to-checkout {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 20px;
}

.wc-proceed-to-checkout a {
	border: 0px solid #000;
	background: #24b6c1;
	color: #fff;
	padding: 7px 15px;
	letter-spacing: 2px;
	background: linear-gradient(to right, #24b6c1 50%, #000 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .3s ease-out;
}

.wc-proceed-to-checkout a:hover {
	background-position: left bottom;
	color: #fff;
}

.return-to-shop {
	display: flex;
	align-items: center;
	justify-content: center;
}

.return-to-shop a {
	color: #fff;
	padding: 10px 30px;
	letter-spacing: 2px;
	background: linear-gradient(to right, #24b6c1 50%, #000 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .3s ease-out;
}

.return-to-shop a:hover {
	background-position: left bottom;
	color: #fff;
}

.checkout_list input, .checkout_list select {
	width: 100%;
	border: 1px solid #000;
	height: 40px;
	padding: 5px 10px;
	font-size: 15px;
}

.checkout_list form.checkout .col2-set .col-1, .checkout_list form.checkout .col2-set .col-2 {
	width: 100%;
}

.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #24b6c1;
	padding: 30px 20px;
	border-top: 0px;
}

/* .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p:nth-child(odd) {
	margin-right: 10px;
}

.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p:nth-child(even) {
	margin-left: 10px;
} */

.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p {
	margin: 0px 20px 30px;
	width: calc(33.333333% - 40px);
}

.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p label {
	display: flex;
}

.woocommerce-billing-fields h3 {
	font-size: 20px;
	font-weight: 600;
	background: #24b6c1;
	margin: 0px;
	color: #fff;
	padding: 10px 10px;
}

.woocommerce-additional-fields {
	margin: 30px 0px 20px;
}

.woocommerce-additional-fields h3, h3#order_review_heading {
	font-size: 20px;
	font-weight: 600;
	background: #24b6c1;
	margin: 0px;
	color: #fff;
	padding: 10px 10px;
}

.woocommerce-additional-fields__field-wrapper {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid #24b6c1;
	padding: 30px 20px;
	border-top: 0px;
}

.woocommerce-additional-fields__field-wrapper p {
	width: 100%;
}

.woocommerce-additional-fields__field-wrapper p label {
	display: flex;
}

.woocommerce-additional-fields__field-wrapper textarea {
	width: 100%;
	padding: 5px 10px;
}

.woocommerce-checkout-payment {
	border: 1px solid #24b6c1;
	margin-top: 40px;
	padding: 30px 30px;
}

.woocommerce-checkout-payment button#place_order {
	color: #fff;
	border: 0px;
	padding: 10px 30px;
	letter-spacing: 2px;
	background: linear-gradient(to right, #24b6c1 50%, #000 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	margin-top: 10px;
	transition: all .3s ease-out;
}

.woocommerce-checkout-payment button#place_order:hover {
	background-position: left bottom;
	color: #fff;
}

.checkout_list .woocommerce-form-coupon-toggle {
	display: none;
}

ul.contact li img {
	max-width: 35px;
}

ul.contact li {
	display: flex;
	align-items: center;
}

.search_result ul.products li:nth-child(odd) {
	display: none;
}

figure.woocommerce-product-gallery__wrapper a img, ul.products li a.woocommerce-LoopProduct-link img {
	max-width: 100%;
	height: auto;
}

.page_title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.page_title h2 {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.account_part .woocommerce-form p.woocommerce-form-row input {
	height: 45px;
}

.account_part .woocommerce-form p.woocommerce-form-row input {
	height: 45px;
}

.account_part .woocommerce {
	width: 100%;
	border: 1px solid #000;
	padding: 30px;
}

/**/

/*Resonsive part*/

@media(max-width:1440px) {
	.search-box.search-elem .inner {
		width: 40%;
	}
	.welcome h2 {
		font-size: 70px;
	}
	.page_banner {
		min-height: 250px;
	}
}

@media(max-width:1366px) {
	.navbar-expand-lg .navbar-nav a {
		padding: 8px 15px !important;
	}
}

@media(max-width:1280px) {
	.navbar-expand-lg .navbar-nav a {
		padding: 8px 10px !important;
	}
}

@media(max-width:1192px) {
	.main_slider .owl-nav .owl-prev, .main_slider .owl-nav .owl-next {
		right: 12%;
	}
	.main_slider .owl-nav .owl-prev {
		right: 16%;
	}
	.navbar-expand-lg .navbar-nav a {
		padding: 8px 8px !important;
		font-size: 14px;
	}
	a.navbar-brand {
		max-width: 110px;
	}
	.search-box.search-elem .inner {
		width: 45%;
	}
	.welcome h2 {
		font-size: 50px;
	}
	a.lnk_mr {
		margin-top: 20px;
	}
	.page_banner {
		min-height: 200px;
	}
	h2.woocommerce-loop-product__title {
		font-size: 15px;
	}
	.single-product .product {
		align-items: start;
	}
}

@media(max-width:992px) {
	p, li {
		line-height: 30px;
		font-size: 16px;
	}
	.navbar-collapse.show .navbar-brand img {
		position: relative;
	}
	.main_menu {
		transform: none;
		padding: 20px 0px;
	}
	.navbar-collapse {
		position: fixed;
		background: #fff;
		left: -100%;
		width: 50%;
		right: 0;
		top: 0;
		z-index: 99;
		min-height: 100vh;
		box-shadow: inset -15px 0px 15px -15px #0000002e;
		transition: all 0.3s ease;
	}
	.navbar-expand-lg .navbar-nav a {
		padding: 15px 0px 15px 0px !important;
		font-size: 20px;
		display: inline-block;
	}
	a.navbar-brand {
		max-width: 175px;
	}
	.navbar-collapse.show {
		left: 0%;
		transition: all 0.3s ease;
		padding: 20px !important;
	}
	.navbar-nav li {
		border-bottom: 1px solid #ddd;
	}
	.navbar-nav li:last-child {
		border-bottom: 0px solid #ddd;
	}
	.navbar-toggler:focus {
		box-shadow: none;
	}
	button.navbar-toggler {
		border: 0px solid #fff;
	}
	.navbar-expand-lg .navbar-nav a.active {
		background: #8ed61d !important;
	}
	.logo_box {
		min-height: 100px;
	}
	.search-box.search-elem .inner {
		width: 45%;
	}
	.welcome h2 {
		font-size: 36px;
	}
	.look_great h5 {
		font-size: 18px;
	}
	a.lnk_mr {
		margin-top: 10px;
	}
	.page_banner {
		min-height: 175px;
	}
	ul.products li {
		width: calc(50% - 30px);
	}
	.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p {
		width: calc(50% - 40px);
	}
	.single-product form.cart .quantity label {
		font-size: 24px;
	}
	.single_product .woocommerce .images {
		width: 40%;
	}
	.summary.entry-summary {
		width: 60%;
		padding-left: 30px;
	}
}

@media(max-width:767px) {
	button.navbar-toggler {
		padding-right: 0px;
	}
	.navbar-brand img {
		max-width: 60px;
		top: 0px;
	}
	.navbar-collapse {
		width: 75%;
	}
	.navbar-expand-lg .navbar-nav a {
		font-size: 16px;
	}
	.search-box.search-elem .inner {
		width: 95%;
	}
	.main_menu {
		padding: 10px 0px;
	}
	.f_menu {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.f_menu ul li {
		padding-bottom: 0px;
	}
	.main_footer {
		padding-top: 50px;
	}
	.page_banner {
		min-height: 125px;
	}
	ul.products li {
		width: calc(100% - 0px);
		margin: 15px 0px;
		box-shadow: 0px 0px 30px -10px #00000024;
	}
	form.woocommerce-cart-form, .cart_totals, div#order_review {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
	table.shop_table td.actions .coupon input {
		height: 30px;
		max-width: 110px;
		font-size: 13px;
	}
	table.shop_table td.actions .coupon button {
		height: 30px;
		font-size: 14px;
		letter-spacing: 1px;
	}
	table.shop_table td.actions button[name="update_cart"] {
		padding: 6px 15px;
		font-size: 13px;
		letter-spacing: 1px;
	}
	.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p {
		width: calc(100% - 40px);
	}
	.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper {
		padding: 30px 0px;
	}
	.single_product .woocommerce .images {
		width: 100%;
	}
	.summary.entry-summary {
		width: 100%;
		padding-left: 0px;
	}
	.single_product {
		padding: 0px 15px;
	}
	.single-product form.cart .quantity label {
		font-size: 16px;
	}
	.After_footer p {
		font-size: 12px;
	}
	div#banner_slider .owl-dots {
   
    right: -45px;
    bottom: -10px;
   
}
}

@media(max-width:375px) {}

@media(max-width:360px) {
	.single_product {
		padding: 0px 0px;
	}
}